*{
    font-family: Verdana;
    background-color: rgb(206, 208, 209);
}
#head{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    color: #5d5d5d;
}
.dice{
    display: flex;
    font-size: 3rem;
    font-weight: bold;
    color: #888888;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;

}
.generate{
    font-size: 1.5rem;
    background-color: #616161;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 265px;
}
.generate:hover{
    background-color: #888888;
    cursor: pointer;
}